/***

====================================================================
    team Section
====================================================================

***/

.team-section {
  position: relative;
  padding: 100px 0 90px;
  background:#0A0A0A;

}

.our-team-intro {
  margin-bottom: 10px;

  .team-culmn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .team-des {
    font-size: 18px;
    line-height: 28px;
    width: 62%;
  }

  .nexella-buton {
    margin-top: -18px;
    margin-right: 62px;

    a {
      font-size: 16px;
      padding: 15px 40px;
      margin-top: -18px;
    }
  }

}

.team-single-box {
  position: relative;
  margin-bottom: 30px;

  .inner-box {
    position: relative;

    &:hover {
      .image img {
        transform: scale(1.1);
      }

      .social-links {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
      }
    }

    &:hover .name a {
      color: var(--theme-color1);
    }

    &:hover .designation {
      color: var(--theme-color1);
    }

    &:hover .designation:before {
      background: var(--theme-color1);
    }

    &:hover .nexella-hover-bx {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

  }

  .image-box {
    position: relative;

    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      z-index: 1;

      img {
        width: 100%;
        transition: all 400ms ease;
      }
    }

  }

  .info-box {
    padding: 32px 35px 36px;
    background: var(--theme-color7);
    width: 90%;
    left: 42px;
    position: relative;
    transition: all 300ms ease;
    z-index: 1;

    .name {
      margin-bottom: 8px;

      a {
        font-weight: 500;
        z-index: 2;
        font-size: 26px;
        transition: all 300ms ease;
        display: inline-block;
      }
    }

    .designation {
      position: relative;
      display: block;
      z-index: 2;
      font-family: var(--title-font);
      transition: all 300ms ease;
      padding-left: 50px;

      &::before {
        position: absolute;
        left: 0;
        top: 15px;
        width: 40px;
        content: '';
        height: 1px;
        background: var(--border-theme-color1);
        transition: all 300ms ease;
      }
    }

    .nexella-hover-bx {
      background: var(--theme-color2);
      height: 100%;
      top: 0;
      opacity: 0;
      position: absolute;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      width: 25%;
      z-index: -1;
    }

    .hover-bx {
      left: 0;
      -webkit-transition-delay: 0.105s;
      transition-delay: 0.105s;
    }

    .hover-bx2 {
      left: 25%;
      -webkit-transition-delay: 0.105s;
      transition-delay: 0.105s;
    }

    .hover-bx3 {
      left: 50%;
      -webkit-transition-delay: 0.105s;
      transition-delay: 0.105s;
    }

    .hover-bx4 {
      left: 75%;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }


  }

  .share-icon {
    position: absolute;
    left: 42px;
    bottom: 0px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: var(--theme-color-white);
    background-color: var(--theme-color2);
    transition: all 300ms ease;
    z-index: 3;
    color: var(--theme-color1);
  }

  .social-links {
    position: absolute;
    left: 42px;
    bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all 400ms ease;

    a {
      position: relative;
      height: 50px;
      width: 50px;
      display: block;
      font-size: 16px;
      line-height: 50px;
      text-align: center;
      color: var(--theme-color3);
      transition: all 300ms ease;
      backdrop-filter: blur(10px);
      background: #f4f5f826;
      margin-bottom: 10px;

      &:hover {
        color: var(--theme-color2);
      }
    }
  }
}

/***

====================================================================
    team Section Two
====================================================================

***/

.team-section.style-two {
  background: var(--theme-color-light);
  padding: 100px 0 90px;

  .our-team-intro {
    margin-bottom: -5px;
  }

  .outer-bx {
    max-width: 1635px;
    margin: auto;
  }
}

.team-single-box-two {
  position: relative;
  margin-bottom: 30px;
  padding: 25px 20px 28px;
  border-radius: 20px;
  margin-top: 40px;

  &.bottom {
    transform: translateY(-40px);
  }

  .image-box {
    position: relative;
    z-index: 1;

    figure {
      margin: 0;
    }
  }

  // team content box

  .info-box {
    position: relative;
    transition: all 300ms ease;
    z-index: 1;
    margin-top: 8px;

    .name {
      margin-bottom: 0;

      a {
        font-family: var(--title-font);
        font-weight: 500;
        font-size: 22px;
        transition: all 300ms ease;
        display: inline-block;
        color: var(--theme-color-white);
        line-height: 0;
      }
    }

    .designation {
      position: relative;
      display: block;
      z-index: 2;
      font-family: var(--title-font);
      transition: all 300ms ease;
      font-size: 15px;
      color: var(--theme-color3);
    }

  }

  // social icon

  .share-icon {
    position: absolute;
    left: 20px;
    top: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    background-color: rgb(97, 97, 97);
    transition: all 300ms ease;
    z-index: 3;
    color: var(--theme-color3);
    transition: all 300ms ease;
  }

  .social-links {
    position: absolute;
    left: 20px;
    top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scaleX(0);
    z-index: 3;
    visibility: visible;
    opacity: 1;
    transition: all 400ms ease;

    a {
      position: relative;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: block;
      font-size: 16px;
      line-height: 50px;
      text-align: center;
      color: var(--theme-color3);
      transition: all 300ms ease;
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.2);
      margin-bottom: 10px;

      &:hover {
        background: var(--theme-color2);
        color: var(--theme-color1);
      }
    }
  }

  //all hover
  &:hover {
    .share-icon {
      background: var(--theme-color1);
    }

    .social-links {
      transform: scaleX(1);
      opacity: 1;
      visibility: visible;
    }

    .info-box {
      margin-left: 20px;
    }
  }

  &:hover .name a {
    color: var(--theme-color1);
  }

  &:hover .designation {
    color: var(--theme-color1);
  }

  &:hover .designation:before {
    background: var(--theme-color1);
  }

  // hover box

  .nexella-hover-bx {
    background: var(--theme-color2);
    height: 100%;
    top: 0;
    opacity: 0;
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 25%;
    z-index: -1;

  }

  .hover-bx {
    left: 0;
    -webkit-transition-delay: 0.105s;
    transition-delay: 0.105s;
    border-radius: 20px 0 0 20px;
  }

  .hover-bx2 {
    left: 25%;
    -webkit-transition-delay: 0.105s;
    transition-delay: 0.105s;
  }

  .hover-bx3 {
    left: 50%;
    -webkit-transition-delay: 0.105s;
    transition-delay: 0.105s;
  }

  .hover-bx4 {
    left: 75%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    border-radius: 0 20px 20px 0;
  }

  &:hover .nexella-hover-bx {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}