/*** 

====================================================================
Page Title
====================================================================

***/

.page-title {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 196px 0 110px;
    min-height: 450px;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #131313;
        opacity: 0.8;
        content: "";
    }

    .title {
        font-size: 64px;
        color: #ffffff;
        margin-bottom: 17px;
    }

    .text {
        position: relative;
        color: #ffffff;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        max-width: 520px;
    }
}

.page-breadcrumb {
    position: relative;
    margin-top: 5px;

    li {
        position: relative;
        display: inline-block;
        margin-right: 12px;
        padding-right: 13px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;

        &:after {
            position: absolute;
            content: "\f105";
            right: -6px;
            top: 1px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 900;
            font-family: 'Font Awesome 5 Free';
            color: #ffffff;
        }

        &:last-child {
            &::after {
                display: none;
            }

            padding-right: 0px;
            margin-right: 0px;
        }

        a {
            color: var(--theme-color2);
            font-weight: 500;
            text-transform: capitalize;
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;

            &:hover {
                color: #ffffff;
            }
        }
    }
}
